.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .containerempty { 
    height: 70px;
    position: relative;
    border: 3px solid green; 
  }

  .container1 { 
    height: 110px;
    position: relative;
    border: 3px solid green; 
  }

  .container3 { 
    height: 350px;
    position: relative;
    border: 3px solid green; 
  }

  .container4 { 
    height: 450px;
    position: relative;
    border: 3px solid green; 
  }

  .container5 { 
    height: 150px;
    position: relative;
    border: 3px solid green; 
  }

  .map { 
    height: 600px;
    position: relative;
    border: 3px solid green; 
  }
 
  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  body {
    margin:0; 
  }  

  .axis .label {
    font-size: 10px;
  }

  .countries {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
  }
  .legendThreshold {
      font-size: 12px;
      font-family: sans-serif;
  }
  .caption {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
  }
